.Card{
    width: 16rem !important;
    height: 20rem !important;
    border: 1px solid rgb(215, 214, 214);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
   .imgcontainer{
    position: relative;
    width: 14rem;
    height: 13rem !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    .CardImg{
        display: flex;
        width: 14rem;
        height: 12rem !important;
        padding:1rem;
      
        
    
       }
       .overlay{    
        background-color: rgb(0, 0, 0);
        border-radius: 5px 5px 0 0 ;
        width: 16rem;
        height: 12.3rem;
        top: 0px;
        bottom: 0;
        left: -1rem;
        right: 0;
        transition: 0.4s ease;
        position: absolute;
        opacity: 0;
        &:hover{
            opacity: 0.1;
        }
        
    }
   }
    
        .CardBody{
            padding: 20px;
            width: 100%;
            height: 8rem;
            .CardTitle{
                font-size: 20px;
                font-weight: bold
            }
            .buttoncontainer{
                button{
                    background-color: #142f76;
                    color: #fff;
                    border: 1px solid transparent;
                    border-radius: 10px;
                    font-size: 16px;
                    &:hover{
                        background-color: #687aa8;
                    }
                }
            }
        }
    }
  
   
